<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-4 col-sm-offset-4 text-center">
      <h1>Login</h1>
      <p>
        Don't have an account? <a href="/register" class="">Register</a>
      </p>

      <p class="bg-danger" ng-show="$ctrl.loginError">
        {{$ctrl.loginError}}
      </p>

      <form novalidate ng-submit="$ctrl.onSubmit()" class="css-form text-left">

        <div class="form-group">
          <label for="email" class="control-label">Email</label>

            <input type="email" ng-model="$ctrl.credentials.email" class="form-control" placeholder="Email" autofocus="autofocus" required />

        </div>

        <div class="form-group">
          <label for="password" class="control-label">Password</label>

            <input type="password" ng-model="$ctrl.credentials.password" class="form-control" placeholder="Password" required />

        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>

      </form>
    </div>

  </div>
</div>

<app-footer></app-footer>
