<app-header></app-header>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <h1>Register</h1>
    <p>
      Aready have an account? <a href="/login" class="">Login</a>
    </p>

    <form ng-submit="$ctrl.onSubmit()" class="text-left" >

      <div class="form-group">
        <label for="firstName" class="control-label">First name</label>

          <input type="text" ng-model="$ctrl.credentials.firstName" class="form-control" placeholder="First Name" required />

      </div>

      <div class="form-group">
        <label for="lastName" class="control-label">Last name</label>

          <input type="text" ng-model="$ctrl.credentials.lastName" class="form-control" placeholder="Last Name" required />

      </div>

      <div class="form-group">
        <label for="email" class="control-label">Email</label>

          <input type="text" ng-model="$ctrl.credentials.email" class="form-control" placeholder="Email" required />

      </div>

      <div class="form-group">
        <label for="password" class="control-label">Password</label>

          <input type="password" ng-model="$ctrl.credentials.password" class="form-control" placeholder="Password" required />

      </div>

      <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>

    </form>
  </div>
</div>

<app-footer></app-footer>
